body{
font-family: Arial;
margin:40px;
background:#f7f7f7;
}

h1{
color:#222;
}

input{
display:block;
margin:10px 0;
}

button{
padding:10px 15px;
background:#2c7be5;
color:white;
border:none;
cursor:pointer;
margin-bottom:20px;
}

button:hover{
background:#1a5fd1;
}

a{
display:block;
margin-bottom:10px;
}

img{
border:1px solid #ccc;
margin-top:10px;
}